
    <div class="header-cont">
        <section class="top">
            <img
                [src]="logo"
                alt="FemFack"
            >
        </section>
    
        <section class="bottom">
            <div class="text animate__animated animate__fadeInDown">
                <h1>
                    discover the evolution of internet usage
                </h1>
                <p>International FemHack Vol.III by NUWE</p>
            </div>
        
        </section>
    
      
    </div>
    
  
