<div class="options-cont">
  <section class="option">
    <h1 (click)="country = ''">{{ country != "" ? country : "Select a country" }}</h1>
    <div class="selector-cont"  >
      <div class="selector">
        <div class="input-cont">
          <input
            (input)="filterCountries()"
            type="text"
            [(ngModel)]="country"
          />
        </div>
        <ng-container *ngFor="let country of countriesList">
          <span (click)="selectCountry(country)">{{ country }}</span>
        </ng-container>
      </div>
    </div>
  </section>

  <section class="option">
    <h1 (click)="year = ''">{{ year != "" ? year : "Select a year" }}</h1>

    <div class="selector-cont" >
      <div class="selector" >
        <div class="input-cont">
          <input (input)="filterYear()" type="text" [(ngModel)]="year" />
        </div>
        <ng-container *ngFor="let year of yearsList">
          <span (click)="selectYear(year)">{{ year }}</span>
        </ng-container>
      </div>
    </div>
  </section>
</div>


<div style="width: 100%; height: 800px; display: flex; justify-content: center">
  <apx-chart 
    [series]="chartSeries"
    [chart]="chart"
    [xaxis]="chartXAxis"
    [dataLabels]="dataLabels"
    [plotOptions]="plotOptions"
  ></apx-chart>
</div>
