<section class="data-content">

<div class="text-content">
<div class="text">
  <h1>internet users in {{country}} during {{year}}</h1>
  <p>Change the selection</p>
  <div class="options-cont">
    <section class="option show-country-per-year">
      <h2 class="show-country-per-year">{{ country != "" ? country : "Select a country" }}</h2>
      <div class="selector-cont show-country-per-year" *ngIf="showCountriesOptions" >
        <div class="selector input show-country-per-year">
          <div class="input-cont show-country-per-year">
            <input class="show-country-per-year"
              (input)="filterCountries()"
              type="text"
              [(ngModel)]="country"
            />
          </div>
            <span *ngFor="let country of countriesList" (click)="selectCountry(country)">{{ country }}</span>
        </div>
      </div>
    </section>
  
    <section class="option show-year-per-country">
      <h2 class="show-year-per-country" >{{ year != "" ? year : "Select a year" }}</h2>
  
      <div *ngIf="showYearsOptions" class="selector-cont show-year-per-country" >
        <div class="selector show-year-per-country" >
          <!-- <div class="input-cont show-year-per-country">
            <input class="show-year-per-country" (input)="filterYear()" type="text" [(ngModel)]="year" />
          </div> -->
            <span *ngFor="let year of yearsList" (click)="selectYear(year)">{{ year }}</span>
        </div>
      </div>
    </section>
  </div>
</div>


</div>

<div class="chart-cont">
  <apx-chart  *ngIf="chart"
    [series]="chartSeries"
    [chart]="chart"
    [xaxis]="chartXAxis"
    [dataLabels]="dataLabels"
    [plotOptions]="plotOptions"
  ></apx-chart>
</div>

</section>
