<div class="text animate__animated animate__fadeInUp">
  <h1>INTERNET USERS EVOLUTION</h1>
  <p>Select country & year</p>
</div>

<div class="options-cont">
  <section class="option show-country">
    <h1 class="show-country" (click)="country = ''">{{ country != "" ? country : "Select a country" }}</h1>
    <div class="selector-cont show-country" *ngIf="showCountriesOptions" >
      <div class="selector show-country">
        <div class="input-cont show-country">
          <input class="show-country"
            (input)="filterCountries()"
            type="text"
            [(ngModel)]="country"
          />
        </div>
        <ng-container *ngFor="let country of countriesList">
          <span (click)="selectCountry(country)">{{ country }}</span>
        </ng-container>
      </div>
    </div>
  </section>

  <section class="option show-year">
    <h1 class="show-year" (click)="year = ''">{{ year != "" ? year : "Select a year" }}</h1>

    <div *ngIf="showYearsOptions" class="selector-cont show-year" >
      <div class="selector show-year" >
        <!-- <div class="input-cont show-year">
          <input class="show-year" (input)="filterYear()" type="text" [(ngModel)]="year" />
        </div> -->
        <ng-container *ngFor="let year of yearsList">
          <span (click)="selectYear(year)">{{ year }}</span>
        </ng-container>
      </div>
    </div>
  </section>
</div>


<div class="chart-cont">
  <apx-chart  *ngIf="chart"
    [series]="chartSeries"
    [chart]="chart"
    [xaxis]="chartXAxis"
    [dataLabels]="dataLabels"
    [plotOptions]="plotOptions"
  ></apx-chart>
</div>
