<!-- <app-menu (selectSection)="changeSectionToShow($event)"></app-menu> -->
<app-header></app-header>

<div class="page-cont">
  <!-- <div [style]="' width: calc(100%-250px); margin-left:250px'" class="home-container"> -->

  <div class="home-container">
    <div class="header-img">
      <img
        class="illustration"
        [src]="illustration"
        alt=""
      >
    </div>

    <section class="home-cont">
      <div class="home-data">
        <app-users-per-year></app-users-per-year>
      </div>
    </section>

    <section class="home-cont">
      <div class="home-data">
        <app-users-per-country-per-year></app-users-per-country-per-year>
      </div>
    </section>

    <section class="home-cont">
      <div class="home-data">
      <app-countries-ranking></app-countries-ranking>
    </div>
    </section>

    <section class="home-cont">
      <div class="home-data">
      <app-users-map></app-users-map>
    </div>
    </section>
    <section class="home-cont">
      <div class="home-data">
    <app-footer></app-footer>
  </div>
  </section>
  </div>

 
</div>
