<section class="data-content">
  <div class="chart-cont">
    <apx-chart
      *ngIf="chart"
      [series]="chartSeries"
      [chart]="chart"
      [xaxis]="chartXAxis"
      [dataLabels]="dataLabels"
      [plotOptions]="plotOptions"
    ></apx-chart>
  </div>
<div class="text-content">
  <div class="text">
    <h1>Top 10 countries using internet in {{year}}</h1>
    <p>Change the selection</p>
    <div class="options-cont">
      <section class="option show-year-to-ranking">
        <h2 class="show-year-to-ranking">{{ year != "" ? year : "Select a year" }}</h2>
    
        <div *ngIf="showYearsOptions" class="selector-cont show-year-to-ranking">
          <div class="selector show-year-to-ranking">
            
              <span *ngFor="let year of yearsList" (click)="selectYear(year)">{{ year }}</span>
          
          </div>
        </div>
      </section>
    </div>
    
  </div>

</div>

</section>